<!DOCTYPE html>
<html lang="en">
  <head>
      {%block head%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>mec</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/poly-template.css" rel="stylesheet">
        <!--link href="css/adaptive.css" rel="stylesheet"-->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/dropDown.css" rel="stylesheet">
    {%endblock%}
  </head>

 <body>

    <header class="header">

        <div class="container">
            <div class="row">
                <div class="">
                    <div class="max-logo">
                        <div class="logo">
                            <img src="../../../../Users/Lewis/Desktop/mec/Malawi electoral commission_files/home_img1.jpg" alt="" width="129%" class="" style="width:100%; height:100%;border: 0px;" title="">
                        </div>
                        <div class="logo-caption" style="left:50%;text-align:center;">
                            <h2>MALAWI ELECTORAL COMMISSION </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                    <div class="menu-bar" >
                    <!-- Static navbar -->
                    <div class="container">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="menu-text">Menu</span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav  "  style="margin-left:200px;">
                                    <li><a href="">HOME</a></li>
                                    <li><a href="mecfiles/selectParties.php" >PARTIES</a></li>
                                    <li><a href="logIn/registeringForm.html" >REGISTERING</a></li>
                                    <li><a href="mecfiles/citizenID.php" >VOTING</a></li>
                                    <li><a href="">ABOUT</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->

                        </div><!--/.container-fluid -->
                    </div>
                </div>
                </div>
    </header>

<section>
    <div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading">MAIN OPERATIONS</div>
					

					  <!-- List group -->
					  <ul class="list-group">
						<li class="list-group-item dropdown">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" style="">VIEW CANDIDATES<b class="caret"></b></a>
										<ul class="dropdown-menu" style="">
											<li><a href="mecfiles/viewAllCandidate.php">all candidates</a></li>
											<li><a href="mecfiles/northernCandidate.php">northern region candidates</a>
											  <ul>
													<li><a href="">chitipa</a></li>
													<li><a href="">karonga</a></li>
													<li><a href="">Rumphi</a></li>
													<li><a href="">mzimba</a>
														<ul>
															<li><a href="">Mzuzu city</a></li>
														</ul>
													</li>
													<li><a href="">nkhata bay</a></li>
													<li><a href="">likoma</a></li>
											  </ul>
											</li>
											<li><a href="mecfiles/centralCandidates.php">central region candidate</a>
												<ul>
													<li><a href="">Mchinji</a></li>
													<li><a href="">lilongwe</a>
														<ul>
															<li><a href="">lilongwe central</a>
														</ul>
													</li>
													<li><a href="">Nkhotakota</a></li>
													<li><a href="">Ntchisi</a></li>
													<li><a href="">Kasungu</a></li>
													<li><a href="">Dowa</a></li>
													<li><a href="">Salima</a></li>
													<li><a href="">Dedza</a></li>
													<li><a href="">Ntcheu</a></li>
											
												</ul>
											</li>
											<li><a href="mecfiles/southernCandidates.php">southern region candidates</a>
													<ul>
																<li><a href="mecfiles/candidatesForBlantyre.php">Blantyre</a>
															<ul>
																<li><a href="mecfiles/candidatesForBlantyreCity.php">Blantyre city</a>
																			<ul>
																					<li><a href="mecfiles/candidatesForBlantyreCityCentral.php">Blantyre-city-central</a></li>
																			  	<li><a href="mecfiles/candidatesForBlantyreCityEast.php">Blantyre-city-east</a></li>
																							<li><a href="mecfiles/MPsAndCouncilorsForBT.php">report of all counselors, and MPs for Blantyre city arranged 
																							#the order of constituencies and parties</a></li>
																				</ul>
																</li>
																<li><a href="mecfiles/candidatesForBlantyreRural.php">Blantre rural</a></li>
															</ul>
														</li>
														<li><a href="">Mangochi</a></li>
														<li><a href="">Balaka</a></li>
													
														<li><a href="">Machinga</a></li>
														<li><a href="">Zomba</a></li>
														<li><a href="">Mwanza</a></li>
													
														<li><a href="">Chiradzulu</a></li>
														<li><a href="">Phalombe</a></li>
														<li><a href="">Thyolo</a></li>
														<li><a href="">Mulanje</a></li>
														<li><a href="">Chikhwawa</a></li>
														<li><a href="">Neno</a></li>
														<li><a href="">Nsanje</a></li>
													</ul>
											</li>

									
										</ul>  
                </li>
								</br>
								<li class="list-group-item dropup">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" >RESULTS<b class="caret"></b></a>
										<ul class="dropdown-menu" >
											<li><a href="mecfiles/selectAllCandidateVotes.php">all</a>
												<ul>
															<li><a href="mecfiles/fiveDifference.php">Find the polling centers WHERE Presidential Candidate One lost by 
																					#more than 5 votes to Presidential Candidate two</a></li>
															<li><a href="mecfiles/allPresidentsReport.php">presidents</a></li>
															<li><a href="mecfiles/selectAllMPWinners">MPs</a></li>		 
															<li><a href="mecfiles/allCouncilorWinners.php">councilors</a></li>
															
												</ul>
											</li>
                      <li><a href="mecfiles/selectAllPresidential.php">president</a>
												<ul>
													<li><a href="">region</a>
															<ul>
																<li><a href="mecfiles/selectAllnorthernPresidential.php">northern</a>
																		<ul>
																			<li><a href="">chitipa</a></li>
																			<li><a href="">karonga</a></li>
																			<li><a href="">Rumphi</a></li>
																			<li><a href="">mzimba</a>
																				<ul>
																					<li><a href="">Mzuzu city</a></li>
																				</ul>
																			</li>
																			<li><a href="">nkhata bay</a></li>
																			<li><a href="">likoma</a></li>
																	</ul>
																
																</li>
																<li><a href="mecfiles/selectAllCentralPresidential.php">central</a>
																			<ul>
																			<li><a href="">Mchinji</a></li>
																			<li><a href="">lilongwe</a>
																				<ul>
																					<li><a href="">lilongwe central</a>
																				</ul>
																			</li>
																			<li><a href="">Nkhotakota</a></li>
																			<li><a href="">Ntchisi</a></li>
																			<li><a href="">Kasungu</a></li>
																			<li><a href="">Dowa</a></li>
																			<li><a href="">Salima</a></li>
																			<li><a href="">Dedza</a></li>
																			<li><a href="">Ntcheu</a></li>
																	
																		</ul>
																
																</li>
																<li><a href="mecfiles/selectAllsouthernPresidential.php">southern</a>
																		<ul>				<li><a href="">Blantyre</a>
																														<ul>
																															<li><a href="">Blantyre city</a>
																																		<ul>
																																				<li><a href="">Blantyre-city-central</a></li>
																																				<li><a href="">Blantyre-city-east</a></li>
																																				
																																			</ul>
																															</li>
																															<li><a href="">Blantre rural</a></li>
																														</ul>
																						</li>
																						<li><a href="">Mangochi</a></li>
																						<li><a href="">Balaka</a></li>
																					
																						<li><a href="">Machinga</a></li>
																						<li><a href="">Zomba</a></li>
																						<li><a href="">Mwanza</a></li>
																					
																						<li><a href="">Chiradzulu</a></li>
																						<li><a href="">Phalombe</a></li>
																						<li><a href="">Thyolo</a></li>
																						<li><a href="">Mulanje</a></li>
																						<li><a href="">Chikhwawa</a></li>
																						<li><a href="">Neno</a></li>
																						<li><a href="">Nsanje</a></li>
																					</ul>
																</li>
															</ul>
													</li>
												</ul>
											</li>
											<li><a href="mecfiles/allMPresults.php">member of parliament</a>
											
													<ul>
													<li><a href="">region</a>
															<ul>
																<li><a href="mecfiles/selectAllNorthernMP.php">northern</a>
																		<ul>
																				<li><a href="">chitipa</a></li>
																				<li><a href="">karonga</a></li>
																				<li><a href="">Rumphi</a></li>
																				<li><a href="">mzimba</a>
																					<ul>
																						<li><a href="">Mzuzu city</a></li>
																					</ul>
																				</li>
																				<li><a href="">nkhata bay</a></li>
																				<li><a href="">likoma</a></li>
																			</ul>
																
																</li>
																<li><a href="mecfiles/selectAllCentralMP.php">central</a>
					  										<ul>
																			<li><a href="">Mchinji</a></li>
																			<li><a href="">lilongwe</a>
																				<ul>
																					<li><a href="">lilongwe central</a>
																				</ul>
																			</li>
																			<li><a href="">Nkhotakota</a></li>
																			<li><a href="">Ntchisi</a></li>
																			<li><a href="">Kasungu</a></li>
																			<li><a href="">Dowa</a></li>
																			<li><a href="">Salima</a></li>
																			<li><a href="">Dedza</a></li>
																			<li><a href="">Ntcheu</a></li>
																	
																	</ul>
																
																</li>
																<li><a href="mecfiles/selectAllsouthernMP.php">southern</a>
																		<ul>				<li><a href="">Blantyre</a>
																														<ul>
																															<li><a href="">Blantyre city</a>
																																		<ul>
																																				<li><a href="">Blantyre-city-central</a></li>
																																				<li><a href="">Blantyre-city-east</a></li>
																																				
																																			</ul>
																															</li>
																															<li><a href="">Blantre rural</a></li>
																														</ul>
																						</li>
																						<li><a href="">Mangochi</a></li>
																						<li><a href="">Balaka</a></li>
																					
																						<li><a href="">Machinga</a></li>
																						<li><a href="">Zomba</a></li>
																						<li><a href="">Mwanza</a></li>
																					
																						<li><a href="">Chiradzulu</a></li>
																						<li><a href="">Phalombe</a></li>
																						<li><a href="">Thyolo</a></li>
																						<li><a href="">Mulanje</a></li>
																						<li><a href="">Chikhwawa</a></li>
																						<li><a href="">Neno</a></li>
																						<li><a href="">Nsanje</a></li>
																					</ul>
																</li>
															</ul>
													</li>
												</ul>
											</li>
                      <li><a href="mecfiles/selectAllcouncilorvotes.php">councilor</a>
													<ul>
													<li><a href="">region</a>
															<ul>
																<li><a href="mecfiles/selectAllNorthernCouncilor.php">northern</a>
																			<ul>
																				<li><a href="">chitipa</a></li>
																				<li><a href="">karonga</a></li>
																				<li><a href="">Rumphi</a></li>
																				<li><a href="">mzimba</a>
																					<ul>
																						<li><a href="">Mzuzu city</a></li>
																					</ul>
																				</li>
																				<li><a href="">nkhata bay</a></li>
																				<li><a href="">likoma</a></li>
																			</ul>
																
																</li>
																<li><a href="mecfiles/selectAllCentralCouncilor.php">central</a>
																		<ul>
																				<li><a href="">Mchinji</a></li>
																				<li><a href="">lilongwe</a>
																					<ul>
																						<li><a href="">lilongwe central</a>
																					</ul>
																				</li>
																				<li><a href="">Nkhotakota</a></li>
																				<li><a href="">Ntchisi</a></li>
																				<li><a href="">Kasungu</a></li>
																				<li><a href="">Dowa</a></li>
																				<li><a href="">Salima</a></li>
																				<li><a href="">Dedza</a></li>
																				<li><a href="">Ntcheu</a></li>
																		
																			</ul>
																
																</li>
																<li><a href="mecfiles/selectAllSouthernCouncilor.php">southern</a>
																		<ul>				<li><a href="">Blantyre</a>
																														<ul>
																															<li><a href="">Blantyre city</a>
																																		<ul>
																																				<li><a href="">Blantyre-city-central</a></li>
																																				<li><a href="">Blantyre-city-east</a></li>
																																				
																																			</ul>
																															</li>
																															<li><a href="">Blantre rural</a></li>
																														</ul>
																						</li>
																						<li><a href="">Mangochi</a></li>
																						<li><a href="">Balaka</a></li>
																					
																						<li><a href="">Machinga</a></li>
																						<li><a href="">Zomba</a></li>
																						<li><a href="">Mwanza</a></li>
																					
																						<li><a href="">Chiradzulu</a></li>
																						<li><a href="">Phalombe</a></li>
																						<li><a href="">Thyolo</a></li>
																						<li><a href="">Mulanje</a></li>
																						<li><a href="">Chikhwawa</a></li>
																						<li><a href="">Neno</a></li>
																						<li><a href="">Nsanje</a></li>
																					</ul>
																</li>
															</ul>
													</li>
												</ul>
											
											</li>
											
									  	</ul>    
                    </li>
								</br>
								<li class="list-group-item dropup">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" style="">VIEW WINNERS<b class="caret"></b></a>
										<ul class="dropdown-menu" style="">
											<li><a href="mecfiles/allWinners.php" class="">All winners</a></li>
											<li><a href="mecfiles/nothernLargestNumberOfVotes.php">northern region winners</a>
															<ul>
																						<li><a href="">chitipa</a></li>
																						<li><a href="">karonga</a></li>
																						<li><a href="">Rumphi</a></li>
																						<li><a href="">mzimba</a>
																							<ul>
																								<li><a href="">Mzuzu city</a></li>
																							</ul>
																						</li>
																						<li><a href="">nkhata bay</a></li>
																						<li><a href="">likoma</a></li>
																					</ul>
											</li>
											<li><a href="mecfiles/centalLargestNumberOfVotes.php">central region winners</a>
														<ul>
																			<li><a href="">Mchinji</a></li>
																			<li><a href="">lilongwe</a>
																				<ul>
																					<li><a href="">lilongwe central</a></li>
																				</ul>
																			</li>
																			<li><a href="">Nkhotakota</a></li>
																			<li><a href="">Ntchisi</a></li>
																			<li><a href="">Kasungu</a></li>
																			<li><a href="">Dowa</a></li>
																			<li><a href="">Salima</a></li>
																			<li><a href="">Dedza</a></li>
																			<li><a href="">Ntcheu</a></li>
																	
																		</ul>
											</li>
											<li><a href="mecfiles/largestNumberOfVotesInSouth.php">southern region winners</a>

													<ul>				<li><a href="mecfiles/largestNumberOfVotesInSouth.php">Blantyre</a>
																														<ul>
																																<li><a href="mecfiles/largestNumberOfVotesInBT.php">largest number of votes in all categories 
																																							#(President, MP, and counselor) in Blantyre</a></li>
																																			
																															<li><a href="mecfiles/largestNumberOfVotesInBlantyreCity.php">Blantyre city</a>
																																		<ul>
																																				<li><a href="mecfiles/largestNumberOfVotesInBlantyreCityCentral.php">Blantyre-city-central</a></li>
																																				<li><a href="mecfiles/largestNumberOfVotesInBlantyreCityEast.php">Blantyre-city-east</a></li>
																																					</ul>
																															</li>
																															<li><a href="mecfiles/largestNumberOfVotesInBlantyreRural.php">Blantre rural</a></li>
																														</ul>
																						</li>
																						<li><a href="">Mangochi</a></li>
																						<li><a href="">Balaka</a></li>
																					
																						<li><a href="">Machinga</a></li>
																						<li><a href="">Zomba</a></li>
																						<li><a href="">Mwanza</a></li>
																					
																						<li><a href="">Chiradzulu</a></li>
																						<li><a href="">Phalombe</a></li>
																						<li><a href="">Thyolo</a></li>
																						<li><a href="">Mulanje</a></li>
																						<li><a href="">Chikhwawa</a></li>
																						<li><a href="">Neno</a></li>
																						<li><a href="">Nsanje</a></li>
																					</ul>
											
											</li>
									
										</ul>                                                                                 
                </li>
										<li class="list-group-item dropdown">
												<a href="" class="dropdown-toggle" data-toggle="dropdown" style="">REPORTS(voting pattern)<b class="caret"></b></a>
												<ul class="dropdown-menu" style="">
													<li><a href="mecfiles/regionalVoteReports.php">ALL REGIONS(all regional voting pattern)</a></li>
													<li><a href="mecfiles/northernReport.php">NORTH(nothern region voting pattern)</a></li>
													<li><a href="mecfiles/centralReport.php">CENTRAL(central region voting pattern)</a></li>
													<li><a href="mecfiles/southernReports.php">SOUTH(southern region voting pattern)</a></li>
												</ul>
										</li>
		

  									<li class="list-group-item dropup">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" >MONITORS<b class="caret"></b></a>
										<ul class="dropdown-menu" >
											<li><a href="mecfiles/allMonitors.php">all monitors</a></li>

												<li><a href="mecfiles/centralMonitors.php">northern region monitors</a>
													 <ul>
														<li><a href="">chitipa</a></li>
														<li><a href="">mzimba</a>
															<ul>
																<li><a href="">Mzuzu city</a></li>
															</ul>
														</li>
														<li><a href="">karonga</a></li>
														<li><a href="">Rumphi</a></li>
														
														<li><a href="">nkhata bay</a></li>
														<li><a href="">likoma</a></li>
													</ul>
												</li>
												<li><a href="mecfiles/centralMonitors.php">central region monitors</a>
														<ul>
															<li><a href="">Mchinji</a></li>
															<li><a href="">lilongwe</a>
																<ul>
																	<li><a href="">lilongwe central</a></li>
																</ul>
															</li>
															<li><a href="">Nkhotakota</a></li>
															<li><a href="">Ntchisi</a></li>
															<li><a href="">Kasungu</a></li>
															<li><a href="">Dowa</a></li>
															<li><a href="">Salima</a></li>
															<li><a href="">Dedza</a></li>
															<li><a href="">Ntcheu</a></li>
													
														</ul>
												</li>

												<li><a href="mecfiles/southernMonitors.php">southern region monitors</a>

													<ul>
														<li><a href="mecfiles/allMomitorsForBT.php">Blantyre</a>
																			<ul>			
																				<li><a href="mecfiles/allMonitorsForBTUrban.php">Blantyre city</a>
																							<ul>
																								<li><a href="mecfiles/femaleMomitorForBT.php" >female monitors standing for all independent candidates for Blantyre urban</a></li>
																								<li><a href="">Blantyre-city-central</a></li>
																								<li><a href="">Blantyre-city-east</a></li>
																							</ul>
																				</li>
																				<li><a href="">Blantre rural</a></li>
																			</ul>
																		</li>
																		<li><a href="">Mangochi</a></li>
																		<li><a href="">Balaka</a></li>
																	
																		<li><a href="">Machinga</a></li>
																		<li><a href="">Zomba</a></li>
																		<li><a href="">Mwanza</a></li>
																	
																		<li><a href="">Chiradzulu</a></li>
																		<li><a href="">Phalombe</a></li>
																		<li><a href="">Thyolo</a></li>
																		<li><a href="">Mulanje</a></li>
																		<li><a href="">Chikhwawa</a></li>
																		<li><a href="">Neno</a></li>
																		<li><a href="">Nsanje</a></li>
																	</ul>
							
											</li>
									

                    										
									    </ul>    
                               		 </li>
         					 </ul>
					
												
								

					</div>
				</div>
				<div class="col-sm-6">
					<div id="search">
							<form action="#">
							<label>search</label>
							<input name="searchFor" type="text" size="30%">
							<input name="goButton"  type="submit" value="go" >
							</form>
				  </div>
						<div class="panel panel-default">
							
							<div class="panel-body" id="home">
							<h2 class="panel-title">welcome to Malawi ELECTORAL</h2>
							  <hr>
							
							 <p>
							ABOUT US
VISION: To be a professional organization that delivers credible elections in accordance with national laws and international best practice to strengthen genuine democracy and peace in Malawi
MISSION: As an independent constitutionally mandated and impartial institution, the Malawi Electoral Commission shall professionally deliver credible, transparent, inclusive, efficient and cost effective elections to promote and entrench democratic values and peace in Malawi.

							 </p>
							
							<div class="content-links">
							  <ul class="cotent-links-ul">
								<li class=""> &raquo; Integrity</li>
								<li class=""> &raquo; Independence</li>
								<li class=""> &raquo; Professionalism</li>
								<li class=""> &raquo; Excellence</li>
								<li class=""> &raquo; cost effective</li>
							  </ul>
							</div>
						  </div>


						<div class="panel-body" id="about" style="display:none;">
							<h2 class="panel-title">about to Malawi ELECTORAL</h2>
							  <hr>
							<div class="content-links">
							  <ul class="cotent-links-ul">
								<li class=""> &raquo; Professionalism</li>
								<li class=""> &raquo; Ethics</li>
								<li class=""> &raquo; integrity</li>
								<li class=""> &raquo; Equality</li>
							  </ul>
							</div>
						  </div>


				  </div>  
				</div>		
		      
				<div class="col-sm-3">
					<div class="aside-links">
					  <ul class="aside-links-ul">
							<li class="">news</li>					
						<li><a href="">top stories</a></li>
						<li class=""><a href="">current news</a></li>
						<div class="b-1"></div>
						<li class=""><a href="#" class=""></a></li>
						<li class=""><a href="#" class="">scandles</a></li>
						<li><a href="">vacancies</a></li>
					  </ul>
					  
					</div>
				  
				</div>
			</div>
	</div>
</section>




<section class="clearfix" style="bottom: 0px">
		<div class="" style="background-color: #3c7bbe;">
			<div class="footer">
			<div class ="container">
			<div class="row">
			
			
			  </div>
			</div>
			</div>
		</div>
		<!--<div class="footer-bottom" style="left:50%;text-align:center;color:#fff;">
			&copy  2018  --> <div class="footer-bottom" 
			style="left:50%;text-align:center;color:#fff;"> The Malawi electoral commision 	
		</div> 
</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  {% block script %}
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="ht9+ps://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  {% endblock %}
</body>
</html>